/*
* Emily
* Due Date
* Project Name and Description
*/

/* The universal selector */

* {

}

/* Body attributes here */


body {
    background-color: beige;

}

header { 
background-color: rosybrown;

}

main {
    background-color: burlywood;

}

footer {
    background-color:rosybrown;

}
